h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;
  font-size: 14px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
}
.header {
  display: block;
  border-bottom: #ECECEC 1px solid;
  background-position: center;
  border-bottom: #ECECEC 1px solid;
}

.mobile-menu-open {
  background-color: transparent;
  border: none;
  line-height: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .meny {
    display: none;
  }
}
.mobile-menu-open {
  background-color: transparent;
  border: none;
  line-height: 0;
  padding: 0;
}

.mobile-menu {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 500ms linear, visibility 500ms linear;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

@media screen and (max-width: 767px) {
  .mobile-menu__container {
    position: relative;
    padding-left: 25px;
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
.mobile-menu_close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.mob-menu_item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}

.mob-menu_color {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-aplications__phone {
  margin-bottom: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196F3;
  padding: 0;
}

.mobile-aplications {
  flex-direction: column;
  display: flex;
  margin-top: 64px;
  padding: 0;
}

.caren {
  color: #2196F3;
}

.mobile-menu__email {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.phone-programs__list {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
}

.phone-programs {
  flex-wrap: wrap;
  margin-top: 64px;
  display: flex;
  gap: 20px;
}

.phone-programs__item {
  color: #2196F3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-duration);
  visibility: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.button-email-form {
  padding: 10px 28px;
  border: none;
  gap: 10px;
  margin-left: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--knob-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  width: 200px;
  border-color: transparent;
  transition: background-color var(--transition-duration);
}
.button-email-form:hover, .button-email-form:focus {
  background-color: var(--fill-color);
}

@media screen and (min-width: 768px) {
  .buttons {
    align-items: center;
    margin-bottom: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 8px;
  }
}
.buttons__portfolio-btn {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-color: transparent;
  transition: background-color var(--transition-duration), color var(--transition-duration);
}
.buttons__portfolio-btn:hover, .buttons__portfolio-btn:focus {
  color: var(--whitey-color);
  background-color: var(--knob-color);
}

.bbtn {
  color: var(--whitey-color);
  background: var(--knob-color);
  border-color: transparent;
}

.buttons {
  flex-wrap: wrap;
  margin-bottom: 25px;
  display: flex;
  gap: 8px;
}

.information {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.name-form-span {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-duration);
}
.modal-input:focus {
  outline: none;
  border-color: var(--knob-color);
}

.modal-label {
  margin-bottom: 15px;
}

.form-combi-span {
  display: block;
  position: relative;
}

.modal-color {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: meny__link;
  color: #2196F3;
}

.modal-picture-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translate(0, -50%);
  transition: fill var(--transition-duration);
}
.modal-input:focus + .modal-picture-icon {
  fill: var(--knob-color);
}

.modal-form-message {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  transition: border-color var(--transition-duration);
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--knob-color);
}

.modal-form-message::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-desc {
  margin: auto;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--mail-color);
  margin-bottom: 30px;
}
.modal-form-desc::before {
  border: 1px solid;
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 7px;
}

.modal-form-check:checked + .modal-form-desc::before {
  background-color: var(--knob-color);
  background-image: url(../image/img\,sprite/vector.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.button-modal-form {
  align-self: center;
  background: var(--knob-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--whitey-color);
  border-color: transparent;
  transition: background-color var(--transition-duration);
  outline: none;
  border-color: var(--knob-color);
}
.button-modal-form:hover, .button-modal-form:focus {
  background-color: var(--fill-color);
}

.social-list-link {
  display: inline;
  height: 44px;
  width: 44px;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--whitey-color);
  transition: background-color var(--transition-duration);
}
.social-list-link:hover, .social-list-link:focus {
  color: var(--whitey-color);
  background-color: var(--knob-color);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--whitey-color);
}

.social-list-icon {
  fill: var(--icon-color);
}

.header__tenor {
  margin-right: 93px;
}

.header__brand-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--knob-color);
}

.header__mark-type {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.modal-btn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--whitey-color);
  cursor: pointer;
  background: var(--knob-color);
  border-color: transparent;
  transition: background-color var(--transition-duration);
}
.modal-btn:hover, .modal-btn:focus {
  background-color: var(--fill-color);
}

@media screen and (min-width: 1200px) {
  .modal-window {
    width: 528px;
  }
}
@media screen and (min-width: 480px) {
  .modal-window {
    width: 450px;
  }
}
.modal-window {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 517px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-height: 609px;
  margin: auto;
}

.modal-close-btn {
  right: 8px;
  top: 8px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #AFB1B8;
  padding: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover, .modal-close-btn:focus {
  border-color: var(--knob-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: var(--knob-color);
}

.underline {
  position: relative;
}

.underline::after {
  position: absolute;
  content: "";
  display: block;
  background-color: var(--knob-color);
  border-radius: 2px;
  width: 100%;
  height: 4px;
  bottom: -53px;
}

@media screen and (max-width: 767px) {
  .characteristic {
    padding: 60px 0;
  }
}
@media screen and (min-width: 768px) {
  .list-title {
    width: calc((100% - 60px) / 2);
    margin-right: 30px;
  }
  .summary-title {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
  }
  .characteristic {
    padding: 94px 0;
  }
}
@media screen and (min-width: 1200px) {
  .list-title {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
    margin-bottom: 0;
  }
  .summary-title {
    flex-wrap: nowrap;
  }
}
.div-svg {
  align-items: center;
  height: 120px;
  display: bloc;
  display: flex;
  justify-content: center;
  background-position: center;
  background: #F5F4FA;
  border-radius: 4px;
}

.list-index {
  gap: 30px;
  display: block;
  justify-content: center;
  align-items: center;
}

.subtitle {
  margin-top: 30px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--text-color);
}

.section-description {
  width: 270px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--mail-color);
}

@media screen and (max-width: 767px) {
  .list-clains {
    flex-basis: calc((100% - 30px) / 2);
    height: 92px;
  }
}
@media screen and (min-width: 768px) {
  .list-clains {
    flex-basis: calc((100% - 60px) / 3);
    height: 92px;
  }
}
.company-emdlem {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

@media screen and (min-width: 1200px) {
  .company-emdlem {
    flex-wrap: nowrap;
  }
}
.section-emdlem {
  padding: 94px 0;
}

.regular-clains {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.social-list-clains {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  transition: var(--transition-duration);
}
.social-list-clains:hover, .social-list-clains:focus {
  fill: var(--fill-color);
  border: 1px solid #188CE8;
}

.svg-clains {
  fill: var(--icon-color);
}
.social-list-clains:hover .svg-clains, .social-list-clains:focus .svg-clains {
  fill: var(--fill-color);
}

.button-email-form {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .dark {
    align-items: baseline;
    justify-content: space-between;
  }
  .dark__box {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .dark-list-item {
    margin-top: 0;
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .sign-input {
    width: 358px;
  }
  .conect-div {
    display: flex;
  }
  .dark__box {
    display: flex;
  }
  .footer-start {
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .button-email-form {
    padding: 10px 28px;
    border: none;
    gap: 10px;
    margin-left: 12px;
    display: flex;
  }
  .dark-list-item {
    margin-right: 93px;
    margin-left: 70px;
  }
  .address {
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--whitey-color);
  }
  .logospan {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--whitey-color);
  }
  .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--knob-color);
  }
  .address-menu {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .color-back {
    box-sizing: border-box;
    background: var(--background-color);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .types {
    display: block;
    margin-bottom: 20px;
  }
  .account {
    gap: 9px;
  }
  .dark {
    display: flex;
    align-items: baseline;
  }
  .dark-list-item {
    margin-right: 93px;
    margin-left: 70px;
  }
  .black-list {
    margin-top: 20px;
    gap: 10px;
    display: flex;
    justify-content: center;
  }
  .social-list-dark {
    display: inline-block;
    height: 44px;
    width: 44px;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--transition-duration);
  }
  .social-list-dark:hover, .social-list-dark:focus {
    color: var(--whitey-color);
    background-color: var(--knob-color);
  }
  .social-icon {
    fill: var(--whitey-color);
  }
  .social-list-dark:hover .social-icon, .social-list-dark:focus .social-icon {
    fill: var(--whitey-color);
  }
  .conected {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--whitey-color);
  }
}
.sign-form {
  justify-content: center;
  align-items: center;
  display: block;
  margin-top: 60px;
  gap: 30px;
}

.sign-start {
  margin-bottom: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-start {
  display: block;
  text-align: center;
}

.address {
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--whitey-color);
}

.logospan {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--whitey-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--knob-color);
}

.address-menu {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.color-back {
  box-sizing: border-box;
  background: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.types {
  display: block;
  margin-bottom: 20px;
}

.account {
  gap: 9px;
}

.black-list {
  margin-top: 20px;
  gap: 10px;
  display: flex;
  justify-content: center;
}

.social-list-dark {
  display: inline-block;
  height: 44px;
  width: 44px;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-duration);
}
.social-list-dark:hover, .social-list-dark:focus {
  color: var(--whitey-color);
  background-color: var(--knob-color);
}

.social-icon {
  fill: var(--whitey-color);
}
.social-list-dark:hover .social-icon, .social-list-dark:focus .social-icon {
  fill: var(--whitey-color);
}

.conected {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--whitey-color);
}

@media screen and (max-width: 767px) {
  .meny-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__navigation-direction {
    display: flex;
    align-items: center;
  }
  .meny {
    align-items: center;
    margin-left: auto;
  }
  .adress-meny {
    margin-top: 15px;
    justify-items: center;
    padding: 0;
  }
  .meny__phone-number {
    padding: 0;
  }
  .meny-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.header__page-container {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0;
}

.adress-meny:not(:last-child) {
  margin-right: 50px;
}

.meny__link:not(:last-child) {
  margin-right: 50px;
}

.studio {
  padding: 32px 0;
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--knob-color);
}

.meny__text {
  display: block;
  padding: 32px 0;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color var(--transition-duration);
}
.meny__text:hover, .meny__text:focus {
  color: var(--knob-color);
}

.email {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--mail-color);
}

.meny__phone-svg {
  fill: currentColor;
  margin-right: 10px;
}

@media screen and (min-width: 1200px) {
  .meny__phone-number {
    margin-right: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 32px 0;
  }
  .meny__text {
    display: inline;
  }
  .meny-nav {
    display: flex;
  }
  .header__navigation-direction {
    display: flex;
    align-items: center;
  }
  .adress-meny {
    display: flex;
  }
}
.meny__phone-number {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--mail-color);
  transition: var(--transition-duration);
}
.meny__phone-number:hover, .meny__phone-number:focus {
  color: var(--knob-color);
}

.stud {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--knob-color);
}

.exposition {
  background: var(--whitey-color);
  border: 1px solid #EEEEEE;
  padding: 20px 24px;
}
.exposition:hover, .exposition:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (max-width: 767px) {
  .work-portfolio {
    padding: 60px 0;
  }
}
@media screen and (min-width: 768px) {
  .work-moment {
    display: flex;
    flex-direction: column;
    flex-basis: calc((100% - 30px) / 2);
  }
  .menu-selection {
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
  }
  .exposition {
    flex-grow: 1;
    background: var(--whitey-color);
    border: 1px solid #EEEEEE;
    padding: 20px 24px;
  }
  .exposition:hover, .exposition:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
@media screen and (min-width: 1200px) {
  .work-moment {
    display: flex;
    flex-direction: column;
    flex-basis: calc((100% - 60px) / 3);
  }
  .work-portfolio {
    padding: 94px 0;
  }
  .exposition {
    background: var(--whitey-color);
    border: 1px solid #EEEEEE;
    padding: 20px 24px;
  }
  .exposition:hover, .exposition:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.work-portfolio {
  padding: 60px 0;
}

.menu-selection {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.menu-selection:hover, .menu-selection:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards-photos {
  display: block;
  position: relative;
  overflow: hidden;
}

.cards-photos__inside {
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  left: 0;
  top: 0;
  transform: translate(0, 101%);
  transition: transform var(--transition-duration);
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-left: 24px;
  padding-bottom: 63px;
  padding-right: 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--whitey-color);
}
.work-moment__work-links:hover .cards-photos__inside, .work-moment__work-links:focus .cards-photos__inside {
  transform: translate(0, 0);
}

.work-moment__work-links {
  transition: var(--transition-duration);
}

.exposition__names {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
}

.exposition__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--mail-color);
}

.hero {
  background: var(--background-color);
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.1), rgba(47, 48, 58, 0.1)), url("../image/hw-08images/mobile/hero/hero-480/hero-480.jpg");
  background-repeat: no-repeat;
  background-position: content;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.1), rgba(47, 48, 58, 0.1)), url "../image/hw-08images/mobile/hero/hero-480/hero-480@2x.jpg";
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.1), rgba(47, 48, 58, 0.1)), url("../image/hw-08images/tablet/hero/hero-768.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.1), rgba(47, 48, 58, 0.1)), url("../image/hw-08images/tablet/hero/hero-768@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    font-size: 44px;
    line-height: 1.36;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.1), rgba(47, 48, 58, 0.1)), url("../image/hw-08images/desktop/hero/hero-1600.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.1), rgba(47, 48, 58, 0.1)), url("../image/hw-08images/desktop/hero/hero-1600@2x.jpg");
  }
}

.main-title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--whitey-color);
}
@media screen and (min-width: 768px) {
  .main-title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .main-title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (max-width: 1200px) {
  .work {
    display: none;
  }
}
.work {
  text-align: center;
  padding-bottom: 94px;
}

.work-time {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.foto-list {
  gap: 30px;
  display: flex;
}

.prodoct-wrappep {
  position: relative;
}

.foto-label {
  position: absolute;
  height: 70px;
  width: 100%;
  display: block;
  align-items: center;
  justify-content: center;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
}

.overfoto {
  padding-top: 27px;
  padding-bottom: 27px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.sign-form {
  margin-left: auto;
}

.sign-start {
  margin-bottom: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.sign-input {
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #FFFFFF;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;
}

@media screen and (min-width: 768px) {
  .foto-team {
    flex-basis: calc((100% - 30px) / 2);
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .foto-team {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.team {
  padding: 94px 0;
  background-color: #F5F4FA;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.foto-team {
  margin-bottom: 30px;
}

.foto-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.foto-team {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--whitey-color);
}

.our-team {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--text-color);
  text-align: center;
}

.div-studio {
  padding: 30px 0;
}

.worker {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
}

.office-team {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--mail-color);
}

:root {
  --knob-color: #2196F3;
  --text-color: #212121;
  --whitey-color: #FFFFFF;
  --mail-color:#757575;
  --background-color: #2F303A;
  --fill-color: #188CE8;
  --icon-color: #AFB1B8;
  --transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visual-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}/*# sourceMappingURL=main.css.map */