
@media screen and (max-width: 767px) {
.meny-nav {
  display: none;
}
.header {
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0;
}

}

// .menys {
//   display: flex;
//     align-items: center;
//     margin-left: auto;

// }

@media screen and (min-width: 768px) and(max-width: 1199px) {
  .header__navigation-direction {
    display: flex;
    align-items: center;
  }
    .meny {
    // display: flex;
    align-items: center;
    margin-left: auto;
    }
  .adress-meny {
  margin-top: 15px;
  // flex-wrap: wrap;
  justify-items: center;
  padding: 0;
}
.meny__phone-number {
  padding:0
}
.meny-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}


}



.header__page-container {
  display: flex;
  align-content: center;
  justify-content: space-between;
}



.adress-meny:not(:last-child) {
  margin-right: 50px;
}


.meny__link:not(:last-child) {
  margin-right: 50px;
}
.studio {
  padding: 32px 0;
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--knob-color);
}
.meny__text {
  display: block;
  padding: 32px 0;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color var(--transition-duration);
  &:hover,
  &:focus {
    color: var(--knob-color);
  }
}
.email {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--mail-color);
}
.meny__phone-svg {
  fill: currentColor;
  margin-right: 10px;
}


@media screen and (min-width: 1200px) {
  .meny__phone-number {
    margin-right: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 32px 0;
  }
.meny__text {
  display: inline;
}

.meny-nav {
  display: flex;
}
.header__navigation-direction {
  display: flex;
  align-items: center;
}
.adress-meny {
  display: flex;
}
}
.meny__phone-number {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--mail-color);
  transition: var(--transition-duration);
  &:hover,
  &:focus {
    color: var(--knob-color);
  }
    
}

.stud {
  // padding: 32px 0;
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--knob-color)
}


// портфоліо

// .menu-selection {
//   display: flex;
//   flex-wrap: wrap;
//   margin-top: 50px;
// }

// незнаю що за токен 
// .token {
//   display: flex;
//   align-items: center;
//   margin-left: auto;
//   & :not(:last-child) {
//     margin-right: 50px;
//   }
// }