
.sign-form{
    margin-left: auto;
    }
    
    
    .sign-start {
    margin-bottom: 20px;
    
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF; 
    }
    
    
    
    

    