
.sign-form{
    margin-left: auto;
    }
    
    
    .sign-start {
    margin-bottom: 20px;
    
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF; 
    }
    
    
    
    .sign-input {
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #FFFFFF;
    background:none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    // filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 358px;
    height: 50px;
    }

    